<h1>New Post</h1>

<form action="/posts" method="post">
  <%# add form fields %>
  <label for="author"> Author </label>
  <Input type="text" name="author">
  <label for="body"> Body </label>
  <label for="image"> Image </label>
  <button>Submit</button>
</form>
